<div class="container-fluid servicios__container">
    <h1 class="text-center text-light fw-bold">Servicios</h1> 
    <div class="container pt-5 pb-5">
        <div class="row d-flex justify-content-center">
            <div class="col-md-4 col-sm-6 col-xs-12 mb-5">
                <div class="card servicios__Card" >
                    <div class="text-center">
                        <i class="fa-solid fa-tablet-screen-button servicios__icono"></i>
                    </div>
                    <div class="card-body">
                      <h5 class="card-title text-center">App Web</h5>
                      <p class="card-text text-center">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                  </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12  mb-5">
                <div class="card servicios__Card" >
                    <div class="text-center">
                        <i class="fa-solid fa-wand-magic-sparkles servicios__icono"></i>
                    </div>
                    <div class="card-body">
                      <h5 class="card-title text-center">UI/UX Desing</h5>
                      <p class="card-text text-center">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                  </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12 ">
                <div class="card servicios__Card" >
                    <div class="text-center">
                        <i class="fa-brands fa-uncharted servicios__icono"></i>
                    </div>
                    <div class="card-body">
                      <h5 class="card-title text-center">Software</h5>
                      <p class="card-text text-center">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                  </div>
            </div>
        </div>
    </div>
</div>
