<div class="container-fluid contacto__container">
    <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-12 p-5">
            <h3 class="text-center">Ubicanos</h3>
                <p class="text-center"><i class="fa-solid fa-location-dot pe-3"></i>Av. larco </p>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3902.296532579927!2d-76.90166128531827!3d-12.023094844733846!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9105c3e89f5e24ab%3A0xcb04cf2e68eb6f70!2sAv.%20San%20Mart%C3%ADn%20190%2C%20Ate%2015491!5e0!3m2!1ses!2spe!4v1672259157614!5m2!1ses!2spe" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12 p-5">
            <h1 class="text-center fw-bold">Contactanos</h1> 
            <div class="p-2">
                <form>
                    <div class="mb-3">
                        <label for="nombre" class="form-label">Nombres Completos</label>
                        <input type="text" class="form-control input" id="nombre">
                    </div>
                    <div class="mb-3">
                        <label for="telefono" class="form-label">Celular</label>
                        <input type="text" class="form-control input" id="telefono">
                    </div>
                    <div class="mb-3">
                      <label for="exampleInputEmail1" class="form-label">Correo</label>
                      <input type="email" class="form-control input" id="exampleInputEmail1">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Mensaje</label>
                        <textarea  class="form-control input" rows="5" cols="5" style="resize: none;"></textarea>
                      </div>
                    <div class="mb-3 form-check">
                      <input type="checkbox" class="form-check-input input" id="exampleCheck1">
                      <label class="form-check-label" for="exampleCheck1">Acepto Envio de mi Información</label>
                    </div>
                    <div>
                        <button type="submit" class="btn btn-primary w-100">Enviar</button>
                    </div>
                    
                  </form>
            </div>
        </div>
    </div> 
</div>

