<div class="container-fluid nosotros__container">
    <h1 class="text-center fw-bold">Nosotros</h1> 
        <div class="row">
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="d-flex justify-content-center">
                    <img src="https://img.freepik.com/foto-gratis/hombre-computadora-portatil-que-presenta-algo_1368-5030.jpg?w=740&t=st=1672254365~exp=1672254965~hmac=378df9baaef504f304fd237e167b8b708f3bcda5640eb8dac422a725e7d67a17" class="nosotros__imagen d-none d-sm-block d-sm-none d-md-block" alt="">
                </div>
                
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12 d-flex flex-column justify-content-center align-items-center">
                <p class="nosotros__p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis aliquid earum neque consectetur praesentium odio reprehenderit iure laudantium sunt alias accusantium distinctio ab, eos ipsa repellendus nemo autem sint veritatis?</p>
                <p class="nosotros__p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis aliquid earum neque consectetur praesentium odio reprehenderit iure laudantium sunt alias accusantium distinctio ab, eos ipsa repellendus nemo autem sint veritatis?</p>
                <p class="nosotros__p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis aliquid earum neque consectetur praesentium odio reprehenderit iure laudantium sunt alias accusantium distinctio ab, eos ipsa repellendus nemo autem sint veritatis?</p>
                
            </div>
        </div>
</div>
